<!--
  Generated template for the VisionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>A very machine learning APP</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>

    <ion-col col-12 text-center>
      <p>With this APP you will be able to perform a decentralized deep neuronal machine learning blockchain-cloud-based image analysis</p>

      <button ion-button icon-start (tap)="captureAndUpload()">
        <ion-icon name="camera"></ion-icon>
        Browse
      </button>

    </ion-col>

    <ion-col col-12>
        <img *ngIf="image.length>0" width="100%" height="auto" [src]="image">
    </ion-col>

    <ion-col *ngIf="result$ | async as result">

      <h3>What's there?</h3>

      <ion-chip color="secondary" *ngFor="let label of result.labels">    
        <ion-label>{{ label }}</ion-label>
      </ion-chip>

      <ion-card color="primary" *ngIf="result.face.length>0">

        <ion-card-header>
          There is a face in the picture!
        </ion-card-header>
      
        <ion-card-content *ngFor="let face of result.face">
          Anger: {{face.angerLikelihood}}<br>
          Blurred: {{face.blurredLikelihood}}<br>
          Headwear: {{face.headwearLikelihood}}<br>
          Joy: {{face.joyLikelihood}}<br>
          Sorrow: {{face.sorrowLikelihood}}<br>
          Surprise: {{face.surpriseLikelihood}}<br>
          Exposed: {{face.underExposedLikelihood}}<br>
        </ion-card-content>
      
      </ion-card>

      <ion-card color="dark" *ngIf="result.text.length>0">

        <ion-card-header>
          There is a piece of text in the picture!
        </ion-card-header>
      
        <ion-card-content>
          <pre>{{result.text}}</pre>
        </ion-card-content>
      
      </ion-card>
        
    </ion-col>
  </ion-row>

  <p>Just having some fun at Everis (Spain). Javier Aviles</p>

</ion-content>
